## Власні папки збірки .NET (Компілятор)
bin/
obj/

## Папки налаштувань редакторів (VS Code / Visual Studio)
.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates

## Локальні файли конфігурації та секрети
*.json
!appsettings.json
!appsettings.Development.json

## Логи та тимчасові файли ОС
*.log
.DS_Store
Thumbs.db